@model Achievement
@{
    Layout = "~/Views/Achievements/_AchievementsLayout.cshtml";
    ViewBag.Title = "Edit achievement";
}

@section breadcrumbs
{
    <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
}

<h3>@Model</h3>

@{ Html.BeginForm("SaveChanges", "Achievements", FormMethod.Post, new { enctype = "multipart/form-data" }); }

@Html.Hidden("Id", Model.Id)
@if (!string.IsNullOrEmpty(Model.Image))
{
    @Html.Label("Image", "Image") @Html.Image("/Content/Photos/" + Model.Image, "Achievement image")<br />
    @Html.Label("DeleteImage", "Delete image") @Html.CheckBox("DeleteImage", new { Id = "DeleteImage" })<br />
}
else
{
    @Html.FilePicker("Image", "image/*")
}
@Html.Label("Title", "Title") @Html.TextBox("Title", Model)<br />
@Html.Label("Description", "Description") @Html.TextBox("Description", Model.Description)<br />
@Html.Submit("Save changes")<br />
@{ Html.EndForm(); }
@Html.ActionLink("Back to achievements list", "Index")
