@model Achievement
@{
    Layout = "~/Views/Achievements/_AchievementsLayout.cshtml";
    ViewBag.Title = "Edit achievement";
}

@section breadcrumbs
{
    <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
}

<h3>@Model</h3>

@{ Html.BeginForm("SaveChanges", "Achievements", FormMethod.Post, new { enctype = "multipart/form-data" }); }

@Html.Hidden("Id", Model.Id)
@if (!string.IsNullOrEmpty(Model.Image))
{
    @Html.Label("Image", "Image") @Html.Image("/Content/Photos/" + Model.Image, "Achievement image")<br />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" name="DeleteImage" />
            </div>
        </div>
        <div class="input-group-append">
            <span class="input-group-text">Delete image</span>
        </div>
    </div>
}
else
{
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Image</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="Image" accept="image/*" id="Image">
            <label class="custom-file-label" for="Image">Choose file</label>
        </div>
    </div>
}
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Title</span>
    </div>
    <input type="text" class="form-control" name="Title" value="@Model.Title" placeholder="Enter title" />
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
    </div>
    <input type="text" class="form-control" name="Description" value="@Model.Description" placeholder="Enter description" />
</div>
<button type="submit" class="btn btn-primary">Save changes</button>
@{ Html.EndForm(); }
