@using UsersAchievements.Helpers
@using UsersAchievements.Models
@model List<Achievement>

@{
    ViewBag.Title = "Achievements";
}

<h2>Achievements</h2>
<ul>
    @foreach (var achievement in Model)
    {
        <li>
            @(string.IsNullOrEmpty(achievement.Image)
                ? Html.Image("/Content/Photos/default.png", "Achievement image")
                : Html.Image("/Content/Photos/" + achievement.Image, "Achievement image", new Dictionary<string, object> { { "style", "max-height: 100px; max-width: 100px;" } }))

            @achievement, Description: @achievement.Description
            @Html.ActionLink("Edit", "Edit", "Achievements", new { achievement.Id }, null)
            @Html.ActionLink("Delete", "Delete", "Achievements", new { achievement.Id }, null)
        </li>
    }
</ul>
@{ Html.BeginForm("Add", "Achievements", FormMethod.Get); }
@Html.Label("Title", "Title") @Html.TextBox("Title", string.Empty)
@Html.Label("Description", "Description") @Html.TextBox("Description", string.Empty)
@Html.Submit("Add achievement")
@{ Html.EndForm(); }
