@model List<Achievement>

@{
    Layout = "~/Views/Achievements/_AchievementsLayout.cshtml";
    ViewBag.Title = "Achievements";
}

<table>
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Description</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var achievement in Model)
    {
    <tr>
        <td>@(string.IsNullOrEmpty(achievement.Image) ? Html.Image("/Content/Photos/default.png", "Achievement image") : Html.Image("/Content/Photos/" + achievement.Image, "Achievement image", new Dictionary<string, object> { { "style", "max-height: 100px; max-width: 100px;" } }))</td>
        <td>@achievement</td>
        <td>@achievement.Description</td>
        <td><a href="@Url.Action("Edit", new { id = achievement.Id })" class="btn btn-primary" role="button">Edit</a></td>
        <td><a href="@Url.Action("Delete", new { id = achievement.Id })" class="btn btn-danger" role="button">Delete</a></td>
    </tr>
    }
</table>
<a href="@Url.Action("Create")">Create achievement</a>
