@model User

@{
    Layout = "~/Views/Users/_UsersLayout.cshtml";
    ViewBag.Title = "Edit user";
}

@section breadcrumbs
{
    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
}

<h3>@Model</h3>

@{ Html.BeginForm("SaveChanges", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }); }
@Html.Hidden("Id", Model.Id)
@if (!string.IsNullOrEmpty(Model.Photo))
{
    @Html.Label("Photo", "Photo") @Html.Image("/Content/Photos/" + Model.Photo, "User photo")<br />
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" name="DeletePhoto" />
            </div>
        </div>
        <div class="input-group-append">
            <span class="input-group-text">Delete photo</span>
        </div>
    </div>
}
else
{
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Photo</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="Photo" accept="image/*" id="Photo">
            <label class="custom-file-label" for="Photo">Choose file</label>
        </div>
    </div>
}
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Full name</span>
    </div>
    <input type="text" class="form-control" name="Name" value="@Model.Name" placeholder="Enter full name" />
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Birthdate</span>
    </div>
    <input type="date" class="form-control" name="Birthdate" value="@Model.Birthdate.ToString("yyyy-MM-dd")" />
</div>
<button type="submit" class="btn btn-primary">Save changes</button>
@{ Html.EndForm(); }
