@model User

@{
    Layout = "~/Views/Users/_UsersLayout.cshtml";
    ViewBag.Title = "Edit user";
}

@section breadcrumbs
{
    <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
}

<h3>@Model</h3>

@{ Html.BeginForm("SaveChanges", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }); }
@Html.Hidden("Id", Model.Id)
@if (!string.IsNullOrEmpty(Model.Photo))
{
    @Html.Label("Photo", "Photo") @Html.Image("/Content/Photos/" + Model.Photo, "User photo")<br />
    @Html.Label("DeletePhoto", "Delete photo") @Html.CheckBox("DeletePhoto", new { Id = "DeletePhoto" })<br />
}
else
{
    @Html.FilePicker("Photo", "image/*")
}
@Html.Label("Name", "Name") @Html.TextBox("Name", Model)<br />
@Html.Label("Birthdate", "Birthdate") @Html.DatePicker("Birthdate", Model.Birthdate)<br />
<button type="submit" class="btn btn-primary">Save changes</button>
@{ Html.EndForm(); }
@Html.ActionLink("Back to users list", "Index")
