@model List<User>

@{
    Layout = "~/Views/Users/_UsersLayout.cshtml";
    ViewBag.Title = "Users";
}

<table>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Birthdate</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@(string.IsNullOrEmpty(user.Photo) ? Html.Image("/Content/Photos/default.png", "User photo") : Html.Image("/Content/Photos/" + user.Photo, "User photo", new Dictionary<string, object> { { "style", "max-height: 100px; max-width: 100px;" } }))</td>
            <td>@user</td>
            <td>@user.Birthdate.ToString("d")</td>
            <td>@user.Age</td>
            <td><a href="@Url.Action("Edit", new { id = user.Id })" class="btn btn-primary" role="button">Edit</a></td>
            <td><a href="@Url.Action("Delete", new { id = user.Id})" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
<a href="@Url.Action("Create")">Create user</a>
