@using UsersAchievements.Helpers
@using UsersAchievements.Models
@model List<User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<ul>
    @foreach (var user in Model)
    {
        <li>
            @(string.IsNullOrEmpty(user.Photo)
                ? Html.Image("/Content/Photos/default.png", "User photo")
                : Html.Image("/Content/Photos/" + user.Photo, "User photo", new Dictionary<string, object> { { "style", "max-height: 100px; max-width: 100px;" } }))

            @user, Birthdate: @user.Birthdate.ToString("d"), Age: @user.Age
            @Html.ActionLink("Edit", "Edit", "Users", new { user.Id }, null)
            @Html.ActionLink("Delete", "Delete", "Users", new { user.Id }, null)
        </li>
    }
</ul>
@{ Html.BeginForm("Add", "Users", FormMethod.Get); }
@Html.Label("Name", "Name") @Html.TextBox("Name", string.Empty)
@Html.Label("Birthdate", "Birthdate") @Html.DatePicker("Birthdate")
@Html.Submit("Add user");
@{ Html.EndForm(); }
