@model List<User>

@{
    Layout = "~/Views/Users/_UsersLayout.cshtml";
    ViewBag.Title = "Users";
}

<ul>
    @foreach (var user in Model)
    {
        <li>
            @(string.IsNullOrEmpty(user.Photo)
                        ? Html.Image("/Content/Photos/default.png", "User photo")
                        : Html.Image("/Content/Photos/" + user.Photo, "User photo", new Dictionary<string, object> { { "style", "max-height: 100px; max-width: 100px;" } }))

            @user, Birthdate: @user.Birthdate.ToString("d"), Age: @user.Age
            <a href="/Users/Edit/@user.Id" class="btn btn-primary" role="button">Edit</a>
            <a href="/Users/Delete/@user.Id" class="btn btn-danger">Delete</a>
        </li>
    }
</ul>
@{ Html.BeginForm("Add", "Users", FormMethod.Get); }
@Html.Label("Name", "Name") @Html.TextBox("Name", string.Empty)
@Html.Label("Birthdate", "Birthdate") @Html.DatePicker("Birthdate")
<button type="submit" class="btn btn-primary">Add User</button>
@{ Html.EndForm(); }
